@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>
<h3>Meet the Developers of this Project- </h3>

<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/Profile_maharshi.jpg" alt="maharshi" width="300px" height="300px">
            <div class="caption">
                <h3>Maharshi Dave </h3>
                <p>Developer</p>
             </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/jaimit.jpg" alt="jaimit" width="300px" height="300px">
            <div class="caption">
                <h3>Jaimit Gandhi</h3>
                <p>Developer</p>
               </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/ishan2.jpg" alt="ishan" width="300px" height="300px">
            <div class="caption">
                <h3>Ishan Ghelani</h3>
                <p>Developer</p>
            </div>
        </div>
    </div>

</div>