@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>
<h3>You can contact us through email or feel free to visit us at- </h3>

<address>
    Dharmsinh Desai University,<br />
    Nadiad.<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">contact@ams.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@ams.com</a><br><br>
    <strong>Developers Email-<strong><br>
    <a href="mailto:jaimitgandhi9@gmail.com">jaimitgandhi9@gmail.com</a><br />
    <a href="mailto:ishanghelani1@gmail.com">ishanghelani1@gmail.com</a><br />
    <a href="mailto:davemaharshi7@gmail.com">davemaharshi7@gmail.com</a><br />

</address>